<nav class="navbar">
  <div class="logo">
    <a routerLink="/"><span>🛒</span> <strong>E-Shop</strong></a>
  </div>

  <ul class="nav-links">
    <li><a routerLink="/products">Products</a></li>
    <li *ngIf="user"><a routerLink="/cart">Cart</a></li>
    <li *ngIf="user"><a routerLink="/orders">Orders</a></li>
    
    <ng-container *ngIf="!user">
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/register">Register</a></li>
    </ng-container>

    <ng-container *ngIf="user">
      <li class="user-info">
        <span>Welcome, <strong>{{ user.username }}</strong></span>
        <button (click)="logout()">Logout</button>
      </li>
    </ng-container>
  </ul>
</nav>
